Fox/direct3D-2/20260718173506.obj filter=lfs diff=lfs merge=lfs -text
Opel_Grandland_2018/Direct3D-S2/20260718171302.obj filter=lfs diff=lfs merge=lfs -text
blasters/31k-elk-nerf-pistol-hand-cannon-to-compact-plinker-model_files.zip filter=lfs diff=lfs merge=lfs -text
organizer/container-80kh50-13-types-of-patterns-model_files.zip filter=lfs diff=lfs merge=lfs -text
/Fox/direct3D-2/20260718173506.obj filter=lfs diff=lfs merge=lfs -text
/Opel_Grandland_2018/Direct3D-S2/20260718171302.obj filter=lfs diff=lfs merge=lfs -text
/organizer/container-80kh50-13-types-of-patterns-model_files.zip filter=lfs diff=lfs merge=lfs -text
/blasters/external/31k-elk-nerf-pistol-hand-cannon-to-compact-plinker-model_files.zip filter=lfs diff=lfs merge=lfs -text
/organizer/external/container-80kh50-13-types-of-patterns-model_files.zip filter=lfs diff=lfs merge=lfs -text
/puzzles/parametric_labyrinth_gift_box/.venv311/lib/python3.11/site-packages/OCP/OCP.cpython-311-x86_64-linux-gnu.so filter=lfs diff=lfs merge=lfs -text
/puzzles/parametric_labyrinth_gift_box/.venv311/lib/python3.11/site-packages/llvmlite/binding/libllvmlite.so filter=lfs diff=lfs merge=lfs -text
/puzzles/parametric_labyrinth_gift_box/.venv311/lib/python3.11/site-packages/vtkmodules/libvtkCommonCore.so filter=lfs diff=lfs merge=lfs -text
/walls/setzkasten/cadquery_waben_v4_rundumlaufende_holzgravur_bundle/wabe_mit_aufhaengung.stl filter=lfs diff=lfs merge=lfs -text
/walls/setzkasten/cadquery_waben_v4_rundumlaufende_holzgravur_bundle/wabe_mit_aufhaengung_texturiert.stl filter=lfs diff=lfs merge=lfs -text
/walls/setzkasten/cadquery_waben_v4_rundumlaufende_holzgravur_bundle/wabe_ohne_aufhaengung.stl filter=lfs diff=lfs merge=lfs -text
/walls/setzkasten/cadquery_waben_v4_rundumlaufende_holzgravur_bundle/wabe_ohne_aufhaengung_texturiert.stl filter=lfs diff=lfs merge=lfs -text
/organizer/modern-carbon-desk-organizer-v1.1.2.zip filter=lfs diff=lfs merge=lfs -text
