concepts/r1/*.png filter=lfs diff=lfs merge=lfs -text
form-study/**/*.png filter=lfs diff=lfs merge=lfs -text
form-study/**/*.glb filter=lfs diff=lfs merge=lfs -text
form-study/**/*.blend filter=lfs diff=lfs merge=lfs -text
form-study/**/*.obj filter=lfs diff=lfs merge=lfs -text
